<!DOCTYPE html>
<html lang="en">
    <head>
        <% include partials/head %>
    </head>
    <body class="container">
        <h1>Hello World</h1>
        <p>Welcome to the homepage</p>
    </body>
</html>